<div id="order-form" class="col-lg-6" ng-controller="ordersCtrl">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend class="running-total">Total: ${{total}}</legend>
        <div class="form-group">
          <label ng-model="user" for="inputEmail" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Name">
          </div>
        </div>
        <legend class="form-header">Entrees</legend>
        <div ng-repeat="entree in entrees" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{entree.name}}</label>
          <div class="col-lg-10">
            <br>
            <select class="form-control" id="select">
              <option disabled selected value> -- select how many sandwiches -- </option>
              <option>1: ${{entree.price}}</option>
              <option>2: ${{(entree.price * 2).toPrecision(2)}}</option>
              <option>3: ${{(entree.price * 3).toPrecision(2)}}</option>
            </select>
          </div>
        </div>
        <legend class="form-header">Sodas</legend>
        <div ng-repeat="soda in sodas" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{soda.name}}</label>
          <div class="col-lg-10">
            <br>
            <select class="form-control" id="select">
              <option disabled selected value> -- select size of soda -- </option>
              <option>Small: ${{soda.small}}</option>
              <option>Medium: ${{soda.medium}}</option>
              <option>Large: ${{soda.large}}</option>
            </select>
          </div>
        </div>
        <legend class="form-header">Milkshakes</legend>
        <div ng-repeat="shake in milkshakes" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{shake.name}}</label>
          <div class="col-lg-10">
            <br>
            <select class="form-control" id="select">
              <option disabled selected value> -- select size of milkshake -- </option>
              <option>Small: ${{shake.small}}</option>
              <option>Large: ${{shake.large}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" ng-click="submitOrder()" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
  </div>
</div>