<div id="order-form" class="col-lg-6" ng-controller="ordersCtrl">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend class="running-total">Total: ${{total}}</legend>
        <div class="form-group">
          <label ng-model="user" for="inputEmail" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">Chicken Sandwich</label>
          <div class="col-lg-10">
            <!--<select class="form-control" id="select">
              <option>Chicken Sandwich</option>
              <option>Deluxe Sandwich</option>
              <option>Spicy Sandwich</option>
              <option>Spicy Deluxe Sandwich</option>
              <option>Nuggets</option>
              <option>Chick-n-Strips</option>
              <option>Grilled Chicken Sandwich</option>
              <option>Grilled Nuggets</option>
              <option>Grilled Chicken Club Sandwich</option>
              <option>Grilled Chicken Cool Wrap</option>
              <option>Grilled Salad Sandwich</option>
            </select>-->
            <br>
            <select id="num-of-item" multiple="3" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Radios</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes I want this drink
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="">
                Na, it sucks
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" ng-click="submitOrder()" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
  </div>
</div>