<div class="bs-component">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Total: ${{total}}</a>
      </div>
      <div>
        <img class="nav-logo" src="lib/images/Chick-fil-A_Logo.png" alt="">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="users">All Orders</a></li>
      </ul>
    </div>
</div>
</nav>
</div>
<div class="countdown">
  Orders due in: {{countdown}}
</div>
<div id="order-form" class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input ng-model="user" type="text" class="form-control" id="inputEmail" placeholder="First Name">
        </div>
      </div>
      <fieldset>
        <legend class="form-header">Entrees</legend>
        <div ng-repeat="entree in entrees" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{entree.name}}</label>
          <div class="col-lg-10">
            <br>
            <select ng-model="entreePrice" ng-change="addToTotal(entreePrice)" class="form-control" id="select" ng-options="price.cost for price in entree.prices">
              <option disabled selected value> -- select if you want this entree -- </option>
            </select>
          </div>
        </div>
        <legend class="form-header">Sides</legend>
        <div ng-repeat="(idx, side) in sides track by $index" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{side.name}}</label>
          <div class="col-lg-10">
            <br>
            <select ng-change="addToTotal(sidePrice)" ng-model="sidePrice" class="form-control" id="select" ng-options="price.cost for price in side.prices">
            <option disabled selected value> -- select size of side (Small, Medium, Large) -- </option>
          </select>
          </div>
        </div>
        <legend class="form-header">Sodas</legend>
        <div ng-repeat="(idx, soda) in sodas track by $index" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{soda.name}}</label>
          <div class="col-lg-10">
            <br>
            <select ng-change="addToTotal(sodaPrice)" ng-model="sodaPrice" class="form-control" id="select" ng-options="price.cost for price in soda.prices">
            <option disabled selected value> -- select size of soda (Small, Medium, Large) -- </option>
          </select>
          </div>
        </div>
        <legend class="form-header">Milkshakes</legend>
        <div ng-repeat="shake in milkshakes" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{shake.name}}</label>
          <div class="col-lg-10">
            <br>
            <select ng-model="shakePrice" ng-change="addToTotal(shakePrice)" class="form-control" id="select" ng-options="price.cost for price in shake.prices">
              <option disabled selected value> -- select size of milkshake (Small, Large) -- </option>
            </select>
          </div>
        </div>
        <legend class="form-header">Sauces</legend>
        <div ng-repeat="sauce in sauces" class="form-group">
          <label for="select" class="food-item col-lg-2 control-label">{{sauce[0].item.name}}</label>
          <div class="col-lg-10">
            <br>
            <select class="form-control" id="select" ng-model="sauceCnt" ng-change="addToOrder(sauceCnt)" ng-options="sc.numOfSauces for sc in sauce">
              <option disabled selected value> -- select amount of sauces -- </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" ng-click="submitOrder()" class="submit-btn btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>