#btn-submit-order {
  color: black;
}

/*Order Form*/

#order-form {
  left: 25%;
}

#num-of-item {
  height: 75px;
}

fieldset > .running-total {
  text-align: center;
}

.food-item {
  margin-top: 20px;
}

.form-header {
  text-align: center;
  font-size: 4em;
  color: #0ce3ac
}

/*Nav*/

.navbar-brand {
  left: 44%;
  position: absolute;
}