#btn-submit-order {
  color: black;
}

/*Order Form*/

#order-form {
  left: 25%;
  height: 575px;
  overflow: scroll;
  border-radius: 10px;
}

#num-of-item {
  height: 75px;
}

fieldset > .running-total {
  text-align: center;
}

.food-item {
  margin-top: 20px;
}

.form-header {
  text-align: center;
  font-size: 4em;
  color: #0ce3ac;
  border-bottom: 1px solid;
}

.countdown {
  text-align: center;
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 1px #375a7f;
  margin-bottom: 15px;
  font-weight: 600;
}

/*Nav*/

.nav-logo {
  left: 47%;
  position: absolute;
  width: 125px;
}


/*Users view*/

.users-view {
  background-color: #375a7f;
}

.user-img {
  border-radius: 50px;
  width: 125px;
  cursor: pointer;
}

.user-img:hover {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.user-img-ctr {
  left: 110px;
  position: relative;
}