<div ng-hide="displayOrder" class="users-view bs-component">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="success">
        <th>#</th>
        <th>Name</th>
        <th></th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(idx, user) in users track by $index">
        <td>{{idx + 1}}</td>
        <td>{{user.name}}</td>
        <td>
          <div class="user-img-ctr">
            <img ng-click="displayDetails(user.order)" class="user-img" ng-src="lib/images/profile/{{user.name.toLowerCase()}}.JPG" alt="">
          </div>
        </td>
        <td>${{user.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-show="displayOrder" class="users-view bs-component">
  <table class="users-chickfila-order table table-striped table-hover">
    <thead>
      <tr class="success">
        <th>Items Ordered</th>
        <th></th>
        <th></th>
        <th><a ng-click="showUsers()" class="btn btn-default">Back to users</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in currOrder">
        <td>{{item}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>